@media (min-width: 32.5em) {
    header {
        position: static;
        overflow: visible;
    }

    main {
        padding-top: 0;
    }
	nav {
        display: flex;
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}

    #computerMenu {
        display: inline;
        width: 185px;
        height: 185px;
        margin-left: calc(50% - 92.5px);
    }

    h2 {
        width: 30%;
    }

    #mobileMenu {
        display: none;
    }

}
