@media only screen and (min-width:  65em) { 
    #homeMain {
        margin: 20px 0 20px 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
    }

    #event-weather {
    display: none;
    }

    .weather {
        margin: 0;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .weatherIcon {
        width: 30%;
      }

    .temperature {
        font-size: 6em;
    }

    .event {
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #join {
        margin: 0;
        grid-row: 3/4;
        grid-column: 1/2;
        padding: 5%;
    }

    #hero {
        margin: 0;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #hero .button {
        top: 65%;
    }

    #spotlight {
        margin: 0;
        grid-row: 1/4; 
        grid-column: 3/4;
        flex-direction: column;

    }

    #spotlight div {
        flex-direction: column;
    }

    .ad {
        margin-top: 3%;
        height: 30%;
    }

    .third {
        margin-top: 4%;
        display: block;
    }

    .ad {
        margin-bottom: 3%;
    }

    #news {
        margin: 0;
        grid-row: 2/4;
        grid-column: 2/3;
    }

    .largeOnly{
        display: block;
      }

      .form {
        margin: 20px 10% 20px 10%;
      }

      .firstElement {
        margin-top: 20px;
      }

    #companyList{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
     }
     #companyList #companySite {
        grid-column: 7/8;
        grid-row: 1/2;
     }
     #companyList img {
        grid-column: 1/2;
        grid-row: 1/2;
     }
     #companyList #companyName {
        grid-column: 2/3;
        grid-row: 1/2;
     }
     #companyList #companyMembership {
        grid-column: 3/4;
        grid-row: 1/2;
        display: block;
     }
     #companyList #companyAddress {
        grid-column: 5/6;
        grid-row: 1/2;
     }
     #companyList #companyPhone {
        grid-column: 4/5;
        grid-row: 1/2;
     }
     #companyList #companyCategories {
        grid-column: 6/7;
        grid-row: 1/2;
     }

     .search {
        flex-direction: row;
     }

     .search .textSearchContainer {
        width: 60%;
     }
     #textSearchContainerLabel {
        display: none;
     }
     .halfOnBigger  {
        width: 50%;
     }

     #contactUsSection {
        flex-direction: row;
        padding: 0;
     }

     #contactUsSection  .form{
        text-align: center;
        margin:0 2.5% 0 2.5%;
        height: auto;
     }
     #contactUsSection  .form form div {
        text-align: left;
     }
     #contactUsSection  .form form {
        font-size: 1.3em;
     }
     #contactUsSection .contact {
        margin:0;
        height: 100%;
        border-radius: 0;
     }
}