@media only screen and (min-width:  65em) { 
    #homeMain {
        margin: 20px 0 20px 0;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-gap: 10px;
    }

    #event-weather {
    display: none;
    }

    .weather {
        margin: 0;
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .temperature {
        font-size: 6em;
    }

    .event {
        margin: 0;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #join {
        margin: 0;
        grid-row: 3/4;
        grid-column: 1/2;
        padding: 5%;
    }

    #hero {
        margin: 0;
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #hero .button {
        top: 65%;
    }

    #spotlight {
        margin: 0;
        grid-row: 1/4; 
        grid-column: 3/4;
        flex-direction: column;

    }

    #spotlight div {
        flex-direction: column;
    }

    .ad {
        margin-top: 3%;
        height: 30%;
    }

    .third {
        margin-top: 4%;
        display: block;
    }

    .ad {
        margin-bottom: 3%;
    }

    #news {
        margin: 0;
        grid-row: 2/4;
        grid-column: 2/3;
    }

    .largeOnly{
        display: block;
      }

      .form {
        margin: 20px 10% 20px 10%;
      }

      .firstElement {
        margin-top: 20px;
      }
}