@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200&family=Josefin+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poiret+One&display=swap');

:root {
	--primary-color: #6E8898   ;
    --secondary-color: #003153 ;
    --accent1-color: #5EBE8C;
    --accent2-color: white;
    --accent3-color: #CCB15D;

	--heading-font: 'Josefin Slab', serif;
    --paragraph-font: 'Inter Tight', sans-serif;
}
html, body {
   max-width: 100%;
   overflow-x: hidden;
}

body {
   background-color: #EEEEEE;
}
p {
    font-family: var(--paragraph-font);
}
h1, h2, h3 {
	font-family: var(--heading-font);
}
h1 {
	font-size: 5em;
	margin-bottom: 0;
	padding-top: 10px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
h2 {
	font-size: 3em;
	background-color: var(--accent1-color);
	margin: 20px auto 20px auto ;
	color: var(--secondary-color);
	width: fit-content;
}
h3 {
	font-size: 2em;
	color: var(--accent2-color);
	width: fit-content;
	margin: 20px auto 20px auto ;
	background-color: var(--secondary-color);
	padding: 5px;
}

.meetingCall {
   display: none;
   padding: 10px;
   z-index: 10;
   height: 5%;
   font-family:var(--paragraph-font);
   background-color: var(--accent1-color);
   width: 100%;
   text-align: center;
}

.meetingCall a {
   text-align: center;
   color: white;
   text-decoration: none;
}
footer {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0 20px 0 20px;
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

.companyData {
    display: flex;
    flex-direction: column;
}

#footerLogo {
    display: flex;
    flex-direction: column;
}

#footerLogo p b{
    font-size: 1.2em;
}

#footerLogo img {
    /* width: 100%;
    height: 100%; */
    width: 150px;
    height: 150px;
    margin-left: calc(50% - 75);
    margin-right: auto;
    text-align: center;
}
.footerData {
    margin-top: 2%;
    margin-left: -20px;
    margin-right: -20px;
    background-color: var(--primary-color);
	color: var(--accent2-color);
	font-family: var(--heading-font);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1.7em;
  }

  #footerMap a {
    color: var(--accent2-color);
	font-family: var(--heading-font);
    text-decoration: none;
 }

 #hero {
    margin: 0;
    position: relative;
    text-align: center;
    color: white;
 }
 
 #hero img {
    width: 100%;
    height: auto;
 }

 #hero p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--heading-font);
    font-size: 1.8em;
    padding: 5%;
    max-width: 100%;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px black;
 }

 .button {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 10px;
    padding: 20px;
 }

 #hero .button {
    width: 80px;
    position: absolute;
    top: 70%;
    left: calc(50% - 68px);
 }

.button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
 }

 #news {
    text-align: center;
    background-color: var(--accent2-color);
 }

 #news div {
   padding: 5px;
 }

 #news a{
    text-decoration: none;
    color: black;
 }
 #news div:hover {
   background-color: var(--primary-color);
 }
 .third {
   display: none;
 }

 #spotlight {
    margin: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    background-color: var(--accent2-color);
 }
 #spotlight a img,  .event a img {
    width: 100%;
    height: auto;
 }
 #join {
    display: none;
    background-color: var(--accent2-color);
 }

 .event, .weather{
    padding-left: 5%;
    padding-right: 5%;
    margin: 5% 0 5% 0;
    background-color: var(--accent2-color);
 }
.event a {
   width: 100%;
}
 .weather{
    margin-bottom: 5%;
    text-align: center
 }
 .weatherIcon {
   width: 30%;
 }

 .temperature {
    font-size: 3em;
    font-family: var(--paragraph-font);
 }

 .largeOnly {
   display: none;
 }

 #mainContainer {
   width: 80%;
   margin-left: 10%;
   margin-right: auto;
   text-align: center;
 }

 .cityInfo .textIMG {
   width: 70%;
   filter: blur(0em);
   transition: filter 0.5s;
 }

 .textIMG[data-src] {
   filter: blur(0.2em);
 }

 .cityInfo .content p{
   text-align: center;
 }
 
.centered{
   text-align: center;
}

.firstElement {
   margin-top: 150px;
}
.form {
   width: 80%;
   margin: 100px 10% 20px 10%;
   padding: 15px;
   background-color: var(--accent1-color);
   box-sizing: border-box;
   border-radius: 15px;
   font-family: var(--paragraph-font);
   font-size: 1.3em;
}

.form input, textarea, select {
   width: 100%;
   box-sizing: border-box;
   border-radius: 10px;
   border: none;
   padding: 5px;
   margin-bottom: 5px;
}

#membershipImage {
   width: 26%;
   min-width: 30px;
}
.form button {
   border: none;
   font-family: var(--heading-font);
   background-color: var(--secondary-color);
   color: var(--accent2-color);
   font-size: 1.4em;
   padding: 5px;
   margin: 0;
   border-radius: 15px;
}

.form button:hover {
   background-color: var(--accent3-color);
}

#companyList{
   width: 100%;
   padding: 15px;
   background-color: var( --accent1-color);
   color: var(--accent2-color);
   margin-bottom: 5px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 0fr;
   align-items: center;
}
#companyList .site {
   font-family: var(--paragraph-font);
}
#companyList p {
   margin-block-start: 0;
   margin-block-end: 0;
   text-align: center;
}
#companyList #companySite {
   grid-column: 3/4;
   grid-row: 1/2;
   text-align: center;
   font-size: 1.3em;
}
#companyList img {
   height:  50px;
   width: auto;
   margin:auto;
   display: none;
   border-radius: 50%;
}
#companyList #companyName {
   grid-column: 1/2;
   grid-row: 1/2;
   text-align: center;
   font-size: 1.5em;
   font-family: var(--heading-font);
}
#companyList #companyMembership {
 display: none;
}
#companyList #companyAddress {
  display: none;
}
#companyList #companyPhone {
   grid-column: 2/3;
   grid-row: 1/2;
}
#companyList #companyCategories {
display: none;
}

.companyCards{
   display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	align-items: center;
   width: 80%;
   margin-left: 10%;
   margin-right: auto;
}
#companyCard{
   background-color: var( --accent1-color);
   color: var(--accent2-color);
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 0.5rem;
   margin: 5px;
}
#companyCard p {
   margin-block-end: 0;
   margin-block-start: 0;
}

#companyCard img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin: auto;
}
#companyCard #companyCategories {
   display: none;
}
#companyCard  #companyName {
   text-align: center;
   font-size: 2.3em;
   font-family: var(--heading-font);
   color: var(--secondary-color);
}
#companyCard p {
   font-size: 1.2em;
}
.company .label {
   font-size: 1.1em;
   color: var(--secondary-color);
}

.search {
   display: flex;
   flex-direction: column;
   width: 80%;
   margin-left: 10%;
   margin-right: auto;
   margin-bottom: 5%;
   font-size: 1.2em;
   color: var(--secondary-color);
   vertical-align: middle;
}
.search .categoryContainer, .search .ViewMode {
   display: flex;
}
.search .textSearchContainer {
   display: flex;
}
.textSearchContainer button {
   margin-right: 10px;
   background-color: var(--secondary-color);
   border: none;
   padding: 5px;
   color: var(--accent2-color);
   border-radius: 15px;
}
.textSearchContainer button:hover {
   background-color: var(--accent3-color);
   color: var(--accent2-color);
}
.search input {
   width: 100%;
   margin-right: 10px;
   height: auto;
   box-sizing: border-box;
   border-radius: 10px;
   border: none;
   padding: 5px;
   margin-bottom: 5px;
}

#membershipInfo {
   text-align: center;
   margin-bottom: 60px;
}

#membershipName {
   font-size: 1.8em;
}

#membershipPrice {
   font-size: 1.4em;
}