@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@100&display=swap');

:root {
	--magic-mint: #baf5d6   ;
    --rich-black: #06070E ;
    --hunter-green: #355834;
    --fern-green: #556f44;
    --fiery-rose: #fb606a;

	--heading-font: 'Amatic SC', cursive;
    --paragraph-font: 'Barlow', sans-serif;
}

.noDecorationLink {
    text-decoration: none;
    color: inherit;
}

.redBiggerLinkHover:hover {
    font-size: 1.3em;
    color: var(--fiery-rose);
}

.greenMintHeaderFont {
    background-color: var(--magic-mint);
    color: var(--rich-black);
    font-family: var(--heading-font);
    padding: 15px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--rich-black);
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

.defaultMain {
    padding: 15px 20% 5% 20%;
    text-align: center;
    color: var(--rich-black);
    font-size: 1.3em;
}

p {
    font-family: var(--paragraph-font);
}

.imgDataContainer {
    display: flex;
    background-color: var(--fern-green);
    flex-direction: column;
    padding: 15px;
    margin-bottom: 25px;
    color: white;
}

.hunter-green-bg {
    background-color: var(--hunter-green);
}

.fern-green-bg {
    background-color: var(--fern-green);
}

.fiery-rose-bg {
    background-color: var(--fiery-rose);
}

.rich-black-bg {
    background-color: var(--rich-black);
}

.imgDataContainer h2 {
    color: white
}

.imgDataContainer img {
    height: 5%;
    max-height: 600px;
    width: auto;
}

.buttonLink {
    color: white;
    font-family: var(--heading-font);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
}

.buttonLink:hover {
    background-color: var(--fiery-rose);
}

.buttonLink.fiery-rose-bg:hover {
    background-color: var(--rich-black);
}

.left, .right {
    flex: 1;
  }

.showOnMedium{ 
    display: none;
}

@media only screen and (max-width: 32.5em) {
.defaultMain {
    padding: 15px 0 5% 0;
}
}

@media only screen and (min-width: 32.5em) {
    .defaultMain {
        padding: 15px 0 5% 0;
    }

    .showOnSmall{ 
        display: none;
    }
    
    .showOnMedium{ 
        display: block;
    }
}