@media only screen and (min-width: 65em) {
    #freshNav, #aboutNav {
        display: block;
    }

    .aboutMain {
        padding: 15px 20% 5% 20%; 
    }

    #hamBtn {
        display: none;
    }

    header nav {
        justify-content: space-around;
    }

    header nav img {
        height: 80px;
    }

    header nav img:hover {
        height: 100px;
    }

    #mainHero, #mainHeroContent h3 {
        font-size: 2em;
    }

    #freshDiv {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #freshDiv img {
        height: 100%;
        z-index: 1;
    }

    #drinkImageDiv{
        height: 100%;
        grid-column: 1/2;
    } 

    #drinkImageDiv div {
        position: relative;
        height: 100%;
        width: 100%;
        right: -50%;
    }


    #drinkImageDiv img {
        position: relative;
        height: 100%;
        left: -50%;
    }

    #orderDiv {
        grid-column: 2/3;
    }

}
