@media only screen and (min-width: 32.5em) {
    header nav img {
        height: 80px;
    }

    #mainHero { 
        flex-direction: row;
        padding: 0;
        gap: 10%;
    }

    #mainHeroContent {
        text-align: center;
        padding: 15px 0;
    }
    #mainHeroContent h3 {
        font-size: 1.5em;
    }
    #mainHeroContent p {
        text-align: left;
    }

    #mainHero img{ 
        width: 60%;
    }

    #weatherAndDrinks {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
