    #freshNav, #aboutNav {
        display: none;
    }

    header nav img {
        height: 60px;
    }   

    header nav {
        display: flex;
        align-items: center;
        font-size: 2.5em;
    }
    
    #menuItems a:hover {
        color: white;
        background-color: var(--rich-black);
    }
    
    #menuItems {
        display: none;
        flex-direction: column;
        background-color: var(--fiery-rose);
        font-family: var(--heading-font);
        color: var(--rich-black);
        padding: 5px;
        font-size: 2em;
        text-align: center;
    }

    #logo {
        margin-left: 20px;
    }

    footer {
        font-size: 2em;
        text-align: center;
    }

    .socialMediaLogo {
        height: 40px;
    }

    .socialMediaLogo:hover {
        height: 60px;   
    }

    main {
        font-family: var(--paragraph-font);
    }

    #mainHero {
        background-color: var(--fern-green);
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.3em;
        text-align: center;
        gap: 30px;
    }

    #mainHero h3 {
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 2em;
    }

    #mainHero img {
        width: 100%;
    }