    #freshNav, #aboutNav {
        display: none;
    }

    header nav img {
        height: 60px;
    }   

    header nav {
        display: flex;
        align-items: center;
        font-size: 2.5em;
    }
    
    #menuItems a:hover {
        color: white;
        background-color: var(--rich-black);
    }
    
    #menuItems {
        display: none;
        flex-direction: column;
        background-color: var(--fiery-rose);
        font-family: var(--heading-font);
        color: var(--rich-black);
        padding: 5px;
        font-size: 2em;
        text-align: center;
    }

    #logo {
        margin-left: 20px;
    }

    footer {
        font-size: 2em;
        text-align: center;
    }

    .socialMediaLogo {
        height: 40px;
    }

    .socialMediaLogo:hover {
        height: 60px;   
    }

    main {
        font-family: var(--paragraph-font);
        background-color: #F0F5F2;
    }

    #mainHero {
        background-color: var(--fern-green);
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1.3em;
        text-align: center;
        gap: 30px;
    }

    #mainHero h3 {
        color: white;
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 2em;
    }

    #mainHero img {
        width: 100%;
    }

    #mainWeather {
        padding: 20px;
        text-align: center;
        background-color: white;
    }

    #mainWeather img {
        width: 50px;
        height: 50px;
    }

    #mainWeather h3 {
        font-size: 2em;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    
    #mainWeather #tempIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    #mainWeather #weekday {
        font-size: 1.3em;
    }

    #weather #weatherInfo {
       text-align: left;
       padding: 15px;
    }

    #weatherInfo #temperature {
        font-size: 2em;
    }

    #city {
        font-size: 2em;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    #temperature, #description, #weekday {
        font-size: 1.7em;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    #forecast {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }


    .forecastDiv {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #mainDrinks {
        text-align: center;
        font-size: 2em;
        background-color: var(--hunter-green);
        width: 100%;
        align-items: center;
        justify-content:center ;
        display: flex;  
        flex-direction: column;
        color: white;
    }

    .drinksNumber {
        font-size: 3em;
        margin: 0 30px 0 30px;
    }

    #weatherAndDrinks {
    margin-top: 10%;
    }

    #cityInfo  {
        margin-top: 10%;
        background-color: var(--hunter-green);
        color: white;
    }

    #cityInfo img {
        width: 100%;
    }

    .cityImageAndText {
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 2px;
    }

    .cityImageAndText div {
        padding: 15px;
    }
    .cityImageAndText h2, h2.showOnSmall  {
        font-size: 2em;
    }

    .cityImageAndText h2,  .cityImageAndText p {
        margin-block-start: 0;
        margin-block-end: 0;    
        color: white;
        }